@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mukta:wght@300&family=Oswald:wght@500&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Mukta', sans-serif;
}

nav{
    padding: 10px;
    background-color: cadetblue; 
    position: fixed;
    width: 100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    justify-content: space-evenly;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}

.content{
    padding-top: 70px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.btn{
    padding: 5px;
}