@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mukta:wght@300&family=Oswald:wght@500&display=swap');
*{
    font-family: 'Mukta', sans-serif;
}

.field{
    padding: 5px;
    width: 50%;
}
.btn{
    padding: 5px;
}
.d-btn{
    padding: 5px;
    background-color: rgb(245, 51, 51);
    border: 1px solid grey;
    border-radius: 3px;
    color: #fff;
}
.a-btn{
    padding: 4px;
    background-color: cadetblue;
    border: 1px solid grey;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}



@media screen and (max-width: 700px) {
    .field{
    padding: 5px;
    width: 100%;
}
}